*{
    font-family: 'Times New Roman', Times, serif;
}

img{
    width: 100%;
    border-radius: 5px;
}

.hero-image{
    background-image: url(./images/bookshelf-1000x883.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-text{
    color: antiquewhite;
    font-size: 80px;
    position: absolute;
    top: 70px;
    width: 100%;
    border: 2px black solid;
    border-radius: 20px;
    width: 50%;
    margin: 168px 0px 0px 450px;
    text-align: center;
    background-color: black;
}

.slogan{
    font-size: 30px;
    color: antiquewhite;
    position: absolute;
    top: 80px;
    width: 100%;
    border: 2px black solid;
    border-radius: 20px;
    width: 25%;
    margin: 280px 0px 0px 700px;
    background-color: black;
    text-align: center;
}