*{
    font-family: 'Times New Roman', Times, serif;
}

img{
    width: 100%;
    border-radius: 5px;
}

.menu{
    font-size: 20px;
    overflow: hidden;
    background-color: rgb(32, 48, 84);
}

.menu a{
    float: left;
    color: rgb(232, 240, 250);
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.menu a:hover{
    background-color: black;
    color: antiquewhite;
}

.menu a.active{
    background-color: black;
}

.hero-image{
    background-image: url(./images/bookshelf-1000x883.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-text{
    color: rgb(232, 240, 250);
    font-size: 80px;
    position: absolute;
    top: 20px;
    width: 100%;
    border: 2px rgb(32, 48, 84) solid;
    border-radius: 20px;
    width: 50%;
    margin: 168px 0px 0px 450px;
    text-align: center;
    background-color: rgb(32, 48, 84);
}

.slogan{
    font-size: 30px;
    color: rgb(232, 240, 250);
    position: absolute;
    top: 50px;
    width: 100%;
    border: 2px rgb(32, 48, 84) solid;
    border-radius: 20px;
    width: 25%;
    margin: 280px 0px 0px 700px;
    background-color: rgb(32, 48, 84);
    text-align: center;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80%;
    margin: 50px auto 30px 200px;
    gap: 5%;
}

.image{
    background-color: rgb(32, 48, 84);
    padding: 20px 20px 50px 20px;
    border-radius: 5px;
}

.book{
    height: 600px;
}

.name{
    text-align: center;
    color: rgb(232, 240, 250);
    font-size: 45px;
}

.review{
    background-color: rgb(32, 48, 84);
    padding: 20px;
    border-radius: 5px;
}

.rating{
    color: gold;
    text-align: center;
    font-size: 40px;
}

.no{
    text-align: center;
    font-size: 20px;
    color: rgb(232, 240, 250);
    text-decoration: none;
    padding-bottom: 20px;
    padding-left: 20px;
}

.wordreview{
    text-align: center;
    color: rgb(232, 240, 250);
    padding: 40px;
}